/* Layout */
.container {
	background: pink;
	margin: 0 auto;
	width: 90%;
}

h3 {
	text-align: center;
}

article section {
	float: left;
	padding: 2%;
	width: 46%;
}

/* Adaptive content */
iframe, img {
	max-width: 100%;
	width: 100%;
}

li {
	list-style: none;
	padding: 10px;
}

a:hover {
	color: red;
	font-size: 1.5em;
	-webkit-transition: font-size .1s;
}

.typeform-widget {
	margin: 0 auto;
}

/* Desktop query*/
@media screen and (min-width:960px ){
	#home {
		width: 300px;
		margin-left: 40%;
	}
	#youtube {
		display: block;
		width: 600px;
		margin-left: 28%
	}
}

/* Tablet query*/
@media screen and (min-width:768px ) and (max-width: 960px ) {
	#home {
		width: 50%;
		margin-left: 25%;
	}
}

/* Mobile query*/
@media screen and (min-width:480px ) and (max-width: 768px ) {
	article section {
		float: none;
		width: 100%;
	}
	
}